/*FONTS*/

@font-face {
    font-family: 'ArmWrestler';
    src:  url('../fonts/ArmWrestler/ArmWrestler.eot');
    src:  url('../fonts/ArmWrestler/ArmWrestler.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArmWrestler/ArmWrestler.woff2') format('woff2'),
        url('../fonts/ArmWrestler/ArmWrestler.woff') format('woff'),
        url('../fonts/ArmWrestler/ArmWrestler.ttf') format('truetype'),
        url('../fonts/ArmWrestler/ArmWrestler.svg#ArmWrestler') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bubblegum';
    src:  url('../fonts/bubblegum/bubblegum.eot');
    src:  url('../fonts/bubblegum/bubblegum.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bubblegum/bubblegum.woff2') format('woff2'),
        url('../fonts/bubblegum/bubblegum.woff') format('woff'),
        url('../fonts/bubblegum/bubblegum.ttf') format('truetype'),
        url('../fonts/bubblegum/bubblegum.svg#bubblegum') format('svg');
    font-weight: normal;
    font-style: normal;
}

strong {
    font-size: 1.2em;
}

a {
    color: #6C0808;
}

a:hover {
    color: #FCE94F;
}


/*SIZE 100%*/

html, body{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    height: 100%;
}

#page{
    background-color: black;
    height: 100%;
}



/*HEADER*/

header {
    padding-bottom: 15px;
    background: linear-gradient(90deg, #6B5C1E, #D8D7D5);
    font-family: 'ArmWrestler', Arial, sans-serif;
    font-size: 1.2em;
    min-height: 15%;
}

/*MAIN*/
main {
    background-color: green;
    min-height: 81%;
}


/*FOOTER*/

footer {
    min-height: 4%;
    background-color: black;
    text-align: left;
    font-family: bubblegum, 'Arial', sans-serif;
    color: #EAE0B4;
    font-size: 0.8em;
}

footer p {
    float: left;
}

footer a {
    margin: 2px;
    color: #6B5C1E;
    float: left;
}

#jb_the_penguin {
    float: left;
}